$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

section {
  position: relative;
}

.main-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.section-block {
  padding: 25px 0;
  background-color: #ccc;
}

.content-block {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #000;
}

// Main banner
.banner-section {
  padding-top: 85px;
  height: 600px;
  background-image: url("../images/main-banner.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// About
.about-section {
  height: 600px;
  background-color: #fff;
}

// Assortiment
.assortiment-section {
  height: 600px;
  background-image: url("../images/wood-wallpaper.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Contacts
.contacts-section {
  height: 600px;
  background-color: #fff;
}

// Footer
.footer-block {
  height: 400px;
  background: transparent url("../images/footer-mask.jpg") 0% 0%/auto repeat scroll;
}
