$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  font-family: 'Roboto', sans-serif;
}

section {
  position: relative;
}

h1, h2, h3, h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Caveat', cursive;
  font-weight: 600;
}

.main-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.section-block {
  padding: 60px 0;
  background-color: #ccc;
}

.content-block {
  margin: 0 auto;
  max-width: 1000px;
}

.white-section {
  background-color: #fff;

  h1, h2, h3, h4 {
    color: #333;
  }
}

// Main banner
.banner-section {
  padding-top: 12 0px;
  height: 600px;
  background-image: url("../images/main-banner.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Assortiment
.assortiment-section h2 {
  font-size: 56px;
}

.assortiment-list {
  margin-top: 40px;
}

.assortiment-item {
  text-align: center;

  img {
    max-width: 100%;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer;
      box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.3);
    }
  }

  h4 {
    margin-top: 20px;
    letter-spacing: 0;
    font-style: italic;
    color: #797979;
    font-size: 24px
  }
}

// About
.about-section {
  height: 600px;
  background-image: url("../images/wood-wallpaper.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Contacts
.contacts-section {
  height: 600px;
}

// Footer
.footer-block {
  height: 400px;
  background: transparent url("../images/footer-mask.jpg") 0% 0%/auto repeat scroll;
}
